<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Helmet detection</title>
  <!-- Bootstrap CSS -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
  <div class="container">
    <div class="text-center mt-5">
      <h1 class="font-weight-bold">HELMET DETECTION WITH YOLOV5</h1>
    </div>
    <div class="text-center mt-5">
      <button class="btn btn-success" id="uploadButton" type="button">
        Choose an image for detection...
      </button>
      <div class="mt-3">Supported formats: PNG, JPG, and JPEG.</div>
      <form action="http://localhost:5000/predict" method="POST" enctype="multipart/form-data" id="form">
        <input type="file" name="file" accept="image/*" style="display: none" id="fileInput">
      </form>
    </div>

    <div class="text-center mt-5">
      {% if image %}
      <h2 class="font-weight-bold">Detection Result</h2>
      <img class="img-fluid rounded" src="{{ image }}" alt="Returned Image">
      {% endif %}
    </div>
  </div>

  <!-- Bootstrap JS and jQuery (needed for Bootstrap) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <footer class="fixed-bottom text-center py-3 bg-dark text-white">
    <div>Made with ❤️ by GAHDSE23.1F</div>
  </footer>

  <script>
    const fileInput = document.getElementById("fileInput");
    const uploadButton = document.getElementById("uploadButton");

    uploadButton.addEventListener("click", () => {
      fileInput.click();
    });

    fileInput.addEventListener("change", () => {
      form.submit();
      $("#uploadHint").text("Uploading file " + $("#fileInput")[0].files[0].name + " to server...");
    });
  </script>
</body>
</html>
